.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s ease-in-out;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #480380;
  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ca0526;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
    background: red;
  }
  50% {
    transform: rotate(360deg);
    background: green;
  }
  100% {
    transform: rotate(0deg);
    background: red;
  }
}
